body {
    display: flex;
    align-items: center;
    justify-content: center;    
    
}
button {
    font-size: 45px;
    color: ghostwhite;
    background-color: rgba(71, 71, 71, 0.726);
    border: 1px solid rgba(71, 71, 71, 0.726);
    cursor: pointer;
    
}
.upperDisplay {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 70px;
    padding-top: 165px;
    padding-right: 15px;
    
    
}

.calculator {
    border: 15px solid orange;
    height: 75vh;
    width: 55vh;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(7, 1fr);
    background-color: rgba(31, 31, 31, 0.726);
}
.spanTwo {
    grid-column-start: 4;
    grid-row-start: 6;
    grid-row-end: 8;
}

.upperDisplay {
    font-size: 95px;
    display: flex;
    flex-direction: row-reverse;
    color:white;
    
}
button:hover {
    background-color: orange;
}
.pressed:focus {
    background-color: rgb(244, 0, 10);
}
.pressed:hover {
    background-color: rgb(244, 0, 10);
}